<section>
  <h1 class="text-3xl md:text-5xl font-bold">About me</h1>
  <hr class="border-1 my-5" />

  <div class="flex flex-col md:flex-row md:space-x-10 lg:space-x-40">
    <div class="flex flex-col flex-start items-center my-10">
      <img
        src="profile-pic.jpg"
        class="rounded-full w-64 h-64 my-8 md:w-52 md:h-52 lg:w-64 lg:h-64 z-52 shadow-lg"
        alt="Profile picture"
      />

      <h2 class="text-2xl md:text-3xl font-semibold">Michael van der Bend</h2>
      <h3 class="font-light">{{ currentRole }}</h3>
      <h3 class="font-light">Currently &#64; {{ currentEmployer }}</h3>
    </div>
    <div class="flex-1 flex-col">
      <p class="leading-6">
        Hi, I’m Michael! I’m a Full-stack developer at Booking.com in Amsterdam,
        where I use Java for the backend and React for the frontend. I’m
        passionate about creating intuitive user interfaces and seamless user
        experiences. Whether it’s Angular or React (Native), I love diving into
        the nuances of front-end development and exploring the unique strengths
        of different frameworks.
        <br /><br />
        Beyond coding, I thrive on sharing knowledge and presenting tech-related
        topics to others. Whether it's a small group or a larger audience, I
        enjoy breaking down complex concepts into engaging and understandable
        ideas. Making people enthusiastic about a topic I'm passionate about is
        incredibly rewarding.
        <br /><br />
        I’m also pursuing a pre-master's in Software Engineering part-time,
        always eager to grow and refine my skills. When I’m not coding, you’ll
        probably find me brainstorming the next big feature for my side projects
        or just enjoying life. Feel free to connect—I’m always happy to chat
        about tech, collaborations, or new ideas! <br /><br />
        <i>
          A passionate software engineer with a drive to evolve, innovate, and
          inspire through technology.</i
        >
      </p>
      <a
        href="Michael-van-der-Bend-CV-2024.pdf"
        download="Michael-van-der-Bend-CV-2024.pdf"
      >
        <button
          class="border-x-4 border-y-4 p-1 my-5 rounded-md hover:bg-gray-800"
        >
          <span class="flex flex-row items-center space-x-3">
            <h3 class="text-xl font-semibold">Resume</h3>
            <i class="fa-solid fa-download"></i>
          </span>
        </button>
      </a>
      <h3 class="text-2xl font-semibold my-1">Skills</h3>
      <div class="flex flex-1 flex-wrap items-center gap-1">
        @for ( skill of skillList; track $index) {
        <div
          class="p-1 rounded-md text-white"
          [ngStyle]="{ 'background-color': skill[1].color }"
        >
          {{ skill[1].formattedName }}
        </div>
        }
      </div>
    </div>
  </div>
</section>
