@let blogArticles = $blogArticles | async;
<section>
  <h1 class="text-3xl md:text-5xl font-bold">Blog</h1>
  <hr class="border-1 my-5" />
  <div class="flex flex-col flex-wrap gap-2 justify-center md:justify-between">
    @for (article of blogArticles; track $index) {
    <ng-container
      *ngTemplateOutlet="articleCard; context: { article }"
    ></ng-container>
    } @empty {
    <p>No articles found</p>
    }
  </div>
</section>

<ng-template #articleCard let-article="article">
  <div
    class="md:flex-row flex flex-col rounded overflow-hidden shadow-lg bg-white dark:bg-gray-800"
  >
    <img
      class="md:w-72 w-full h-48 object-cover"
      src="{{ article.imageUrl }}"
      alt="{{ article.title }}"
      onerror="this.onerror=null;this.src='image-placeholder.png';"
    />
    <div class="flex flex-col p-5">
      <h1 class="text-2xl font-bold">{{ article.title }}</h1>
      <h3 class="text-xl">{{ article.introduction }}</h3>
      <a [routerLink]="['/blog', article.slug]" class="pt-2 text-blue-500"
        >Read more</a
      >
    </div>
  </div>
</ng-template>
