<section>
  <h1 class="text-3xl md:text-5xl font-bold">Contact</h1>
  <hr class="border-1 my-5" />

  <div class="flex flex-col md:flex-row md:space-x-10 lg:space-x-40">
    <div>
      <h2 class="text-2xl font-semibold mb-4">Reach out</h2>

      <a
        class="block bg-blue-500 text-white py-2 px-4 rounded mb-2 hover:bg-blue-700"
        href="mailto:{{ email }}"
        >Email</a
      >
      <a
        class="block bg-blue-700 text-white py-2 px-4 rounded mb-2 hover:bg-blue-900"
        href="{{ linkedin }}"
        >LinkedIn</a
      >
      <a
        class="block bg-gray-800 text-white py-2 px-4 rounded mb-2 hover:bg-gray-900"
        href="{{ github }}"
        >GitHub</a
      >
    </div>
    <p class="mt-4 md:mt-0">Send message</p>
  </div>
</section>
